[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
faker = "*"
flake8 = "*"
black = "*"
bumpversion = "*"
django = "*"
django-debug-toolbar = "*"
tqdm = "*"
pytest = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.10"
